@import 'https://fonts.googleapis.com/css?family=Raleway:600i|Shrikhand';

h1 {
    font-family: Shrikhand !important;
}

body, html {
  height: 100%;
  font-family: Raleway !important;
 }

footer {
  min-height: 50px;
  background-color:brown !important;
}
img {
  width: 250px !important;
  height: 300px !important;
  margin-top: none !important;
  margin-bottom: 10px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  border: 5px solid white !important;
  border-radius: 5px;
  margin-top: 30px;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 300px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 250px;
}
span.text-content {
  margin-top: 30px;
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 300px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
  opacity: 0;
  margin-left: 5px;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/*img:hover {
  opacity: .5;*/
}
.jumbotron{
  min-height: 768px;
}

.name{
  color:white !important;
  font-size:100px !important;
  font-size: 10vw !important;
  margin-top:100px;
}

.description {
  color:white !important;
  border:none !important;
  height:468px;
  font-size:24px !important;
}

.parallax1{
  background-image: url("img/glacier.jpg");
  min-height: 768px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid white;
}

.parallax2{
  background-image: url("img/me.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px !important;
  border-bottom: 2px solid white;
}

.parallax3{
  background-image: url("img/baker.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-bar {
  background-color: white !important;
}

.navbar {
  margin-bottom: 0;
  background-color: #232b38 !important;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active  {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  background-color: brown;
  border-color: transparent;
  color: #fff ;
}

.collapse {
  color: white !important;
}

.sites:hover {
  opacity: .5;
}

#homeButton {
  text-decoration: none !important;
}

#homeButton:hover {
  text-decoration: none !important;
  background-color: none !important;
  opacity: .5 !important;
}

#box1 {
  margin-left: 130px;
  color: #ef6337 !important;
}

#box2 {
  margin-right: 100px;
  color: #ef6337 !important;
}

#box3 {
  margin-left: 100px;
  color: #ef6337 !important;
  margin-bottom: 50px;
}

#aboutText {
  margin-left: 30px;
  height: 325px !important;
  min-width: 350px !important;
}

#resumeBox {
  height: 300px;
  padding-left: 135px;
  color: #ef6337 !important;
  padding-top: 20px;
  display: inline-block;
}

#resume:hover {
  text-decoration: none !important;
  opacity: .5;
}

#resume {
  color: white !important;
}

#contactLinks {
  border: 5px solid white !important;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#contactLinks li {
  display: inline !important;
  padding: 80px;
  margin-top: 150px;
}